@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,423&display=swap" rel="stylesheet');
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fontes/JosefinSans-Italic-VariableFont_wght.ttf");
}
iframe{
	align-items: center;
}
body {
	font-family: mongolian;
	background-color:whitesmoke;
	color: rgba(1,1,1,1);
}
div#interface {
	width: 80%;
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px 10px 10px 10px
}

h4, h5 {
	padding: 0px;
	margin: 3px;
}
.titulo {
	font-size: 16pt;
}
li {
	font-size: 15px;
}
.container {
	display: flex;
	align-items: center;
}
.eq2{
	display: none;
}
figcaption{
	font-size: small;
	text-align: center;
}
div .fotos1{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
	width: 300px;
	}
div .fotos {
	
 	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
}
p .p1 {
	padding: 0px;
}
p {
	/*display: flex;*/
	font-size: 1em;
	text-align: justify;
	text-indent: 50px;
	padding: 5px;
	margin: 14px;
	font-family: 'Tahoma';
	line-height: 22px;
}
a {
	color: #606060;
	text-decoration: none;
	font-size: 1em;
}
a:hover {
	text-decoration: underline;
}
article#assunto h2{
	color: #606060;
	padding: 5px 0px 10px 15px;
	margin: 15px 0px 15px 0px;
}

header#cabecalho-artg {
	display: flex;
	flex-direction: column;
}
div#topo h1 {
	font-family: 'FonteLogo', cursive;
	font-size: 20pt;
	color: #000000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	padding: 0px;
	margin-bottom: 0px;
	font-variant: small-caps;
	 /* DEIXA TODAS AS LETRAS COM TAMANHO GRANDE*/
}
div#topo h2 {
	font-family: Arial, sans-serif;
	color: #000000;
	font-size: 18pt;
	padding: 2px;
	margin-top: 0px;
}
header#cabecalho-artg h1{
	font-family: arial, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 15pt;
	color: #595150;
	text-align: center;
	display: flex;
}
header#cabecalho-artg h2 {
	font-size: 13pt;
	color: #91b3c9;
	margin: 0px;
} 
header#cabecalho-artg h3 {
	font-size: 15pt;
	color: #5d7687;
	margin-bottom: 0px;
	text-align: center;
}
.direita {
	border-bottom: 2px #606060 solid;
}
#topo h1{
	font-family: 'FonteLogo', cursive;
	font-size: 28pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	padding: 0px;
	margin-top: 90px;
}
#topo h2{
	font-family: 'Josefin Web', cursive;
	font-size: 17pt;
	color: #606060;
	padding: 0px;
	margin-top: 0px;
}
/* Formatação do H2*/
div#titu h2{
	color: black;
	display: inline-block;
	margin: 3px;
	padding: 9px;
	font-weight: bolder;
}
/* IMAGENS*/
img#icone {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 82px;
}
/* 
Formatação do Menu
*/

#btn-mobile {
	display: none;
}
input{
	border-radius: 5px;
}
ul, body {
	margin: 0px;
	padding: 0px;
}
#logo {
	font-size: 1.5em;
	font-weight: bold;
	height: 65px;
}
#header {
	border-radius: 5px;
	box-sizing: border-box;
	height: 70px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e7e7e7;
}
#menu {
	display: flex;
	list-style: none;
	gap: .5rem;
}
#menu a {
	display: block;
	padding: .5rem;
}	
button {
	font-family: arial;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	color: black;
	cursor: pointer;
	padding: 20px;
	border-radius: 10px;
	background-color: transparent;}
button:hover {
	background-color: #867c7a;
	color: #ffffff;}
button:active {
	position: relative;
	top: 10px;
}
/* Roda pé*/
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
	padding: auto;
}
footer#rodape p {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.pe {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 7px 0px 10;
}
.tipo1 {
	color:rgb(100.100.100);
}
.link_ {
	font-size: 30px;
}
.tipo2 {
	font-size: 40px;}
figure#icones {
	position: inherit;
	margin: 10px;
}

/*Video respodivo*/
.VideoPlay {
	position:relative;
	width: 100%;
	padding-bottom: 56%;
	padding-right: 0%;
} 
.VideoPlay iframe {
	position: absolute;
	width: 50%;
	height: 50%;
	border: none;
	align-items: center;
}
div.video {
	background-color: #f9f8f8;
	margin: 0px -10px 30px -20;
	padding: 20px;
	position: relative;
	padding-bottom: 57%;
}
div.video > iframe {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;

}
/* Deixando o site responsivo*/
@media screen and (max-width: 1000px) {
		
@media (max-width:1000px) {
	/*Menu Mobile*/
	  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  div.container {
  	display: inline;
  }
  .eq1 {
  	display: none;
  }
  .eq2 {
  	margin-left: auto;
  	margin-right: auto;
  	display: block;	
  }
  .lado{
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }
  footer#rodape {
  	display: inline;
  }
  .pe {
  	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  }
  

}

@media screen and (max-width:1000px){
		nav ul li {
			display: block;
			flex-direction: column;
			padding: 0px;
			margin-left: 0px;
		}
}
@media screen and (max-width: 768px){
	div#interface {
		width: 100%;
		background-color: #ffffff;
		margin: 0px auto 0px auto;
		padding: none;
	}

}

}